/* Utility Classes */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
body {
  margin: 0;
}

/* Global Landing page Styles */
.landing-page-march25 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  line-height: 1.6;
}
.landing-page-march25 {
  /* width: 99vw;
  margin-left: -8px;
  margin-bottom: -8px; */
  background-color: white;
}
.landing-page-march25 a {
  color: inherit;
}
.landing-page-march25 p {
  font-size: 16px;
}
.landing-page-march25 img {
  max-width: 100%;
  height: auto;
}
.landing-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.landing-page-march25 ul {
  list-style-type: disc !important;
}

/* Button styles */
.landing-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 16px;
}
.landing-btn-primary {
  background-color: #00c895;
  color: white;
  border: none;
}
.landing-btn-primary:hover {
  background-color: #00b085;
}
.landing-btn-outline {
  background-color: transparent;
  border: 1px solid #00c895;
  color: #00c895;
}
.landing-btn-outline:hover {
  background-color: rgba(0, 200, 149, 0.1);
}
.landing-btn-dark {
  background-color: #013744;
  color: white;
  border: none;
}
.landing-btn-dark:hover {
  background-color: #032a47;
}
.landing-btn-white-outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.landing-btn-white-outline:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Section styles */
.landing-hero,
.landing-getting-started,
.landing-featured-courses,
.landing-reasons,
.landing-enterprise-reasons,
.landing-resources,
.landing-cta {
  padding: 2rem 0 4rem 0;
}
.landing-section-title {
  text-align: center;
}
.landing-section-title h2 {
  font-size: 32px;
  color: #021b2f;
  margin-bottom: 0.5rem;
}
.landing-section-title h3 {
  font-size: 24px;
  color: #021b2f;
  margin-bottom: 16px;
}
.landing-section-title .landing-divider {
  width: 80px;
  height: 4px;
  background-color: #00c895;
  margin: 0 auto 16px;
}
.landing-divider {
  width: 80px;
  height: 4px;
  background-color: #00c895;
  margin: 2rem auto 2rem;
}
.landing-section-title p {
  color: #666;
  max-width: 700px;
  margin: 0 auto;
}

/* Hero section */
.landing-hero {
  height: 20rem;
  background: url("https://cdn5.dcbstatic.com/files/s/o/solacelearn_docebosaas_com/userfiles/30610/signin_header_white.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Get Ahead of the Curve Section */
.landing-reasons-container .landing-section-title {
  margin-bottom: 1rem;
}
.landing-get-ahead-title {
  color: white !important;
}
.landing-get-ahead-text {
  margin: auto;
  padding-bottom: 2rem;
  max-width: 35rem;
}
.landing-get-ahead-text p {
  text-align: center;
  color: #ffffff;
}
.landing-reasons {
  background-color: #013745;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}
.landing-card-img {
  margin: auto;
  width: 5rem;
  height: auto;
}
.landing-card-text {
  font-size: 18px;
}
.landing-reasons-container {
  width: 98%;
  margin: auto;
}
.landing-reasons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem;
}
.landing-reason-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
}
.landing-reason-icon {
  flex-shrink: 0;
  margin: auto;
}
.landing-reason-content {
  flex-grow: 1;
}
.landing-reason-icon img {
  max-width: 4rem;
  height: auto;
}
.landing-reason-card h2 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}
.landing-reason-content > ul {
  padding-left: 1rem;
  margin-top: 0;
}
.landing-reason-content > ul > li,
.landing-reason-card p {
  color: #ffffff;
  font-size: 16px;
  padding-bottom: 1rem;
}

/* Featured courses */
.landing-featured-courses {
  background-color: #ffffff;
}
.landing-carousel-container {
  width: 100%;
  position: relative;
  padding: 0 20px;
  margin: auto;
}
.landing-carousel {
  /* This creates the scrollable container */
  display: flex;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  scroll-snap-align: start;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 20px 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
.landing-carousel::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 0 12px 12px;
}
.landing-carousel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.landing-carousel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.landing-carousel-card {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.landing-carousel-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
.landing-carousel-card-img {
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  background-size: cover;
  background-position: center;
}
.landing-carousel-card-content {
  padding: 20px;
}
.landing-carousel-card h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 18px;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
}
.landing-carousel-card p {
  color: #666;
  line-height: 1.5;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.landing-carousel-card .short-title {
  color: #666;
  line-height: 1.5;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}
.landing-carousel-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  border-top: 1px solid #eee;
  font-size: 13px;
  color: #888;
}
.landing-carousel-card-tag {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}
.landing-resources {
  padding-bottom: 10rem;
  margin-bottom: -3rem;
  background: no-repeat
    url("https://cdn5.dcbstatic.com/files/s/o/solacelearn_docebosaas_com/userfiles/30610/spider_web_thin_1_8.png");
  background-size: cover;
}
.landing-resource-item {
  margin-bottom: 5rem;
}
.landing-resource-item-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.landing-resource-item-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 1px solid #f0f0f0;
  background-color: white;
}
.landing-resource-item-card.landing-popular {
  border: 2px solid #00c895;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  height: 110%;
  margin-top: -2rem;
}
.landing-popular-badge {
  background-color: #00c895;
  color: white;
  text-align: center;
  padding: 4px 0;
  font-size: 16px;
  font-weight: 500;
}
.landing-resource-item-content {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
}
.landing-resource-item-content-btn-container {
  display: flex;
  margin-top: auto;
  padding-top: 1rem;
  justify-content: center;
  width: 100%;
}
.landing-resource-item-content-btn-container > a,
.landing-resource-item-content-btn-container > a > button {
  width: 100%;
}
.landing-resource-item-name {
  font-size: 20px;
  font-weight: bold;
  color: #021b2f;
  margin-bottom: 8px;
  text-align: center;
}
.landing-resource-item-description {
  color: #666;
  margin: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
}
.landing-resource-item-features {
  flex-grow: 1;
  margin-bottom: 1rem;
  padding-left: 1rem !important;
}
.landing-resource-item-features li {
  color: #00c895;
}
.landing-feature-item {
  padding-bottom: 12px;
}
.landing-feature-icon {
  color: #00c895;
  margin-right: 8px;
  flex-shrink: 0;
  margin-top: 4px;
}
.landing-feature-text {
  color: #666;
}

/* Enterprise Reasons */
.landing-enterprise {
  background-color: white;
}
.landing-enterprise-reasons-container {
  width: 75%;
  margin: auto;
  margin-bottom: 8rem;
}
.landing-enterprise-reasons-container .landing-section-title {
  margin: 3rem 0;
}
.landing-enterprise-reasons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}
.landing-enterprise-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.landing-enterprise-icon-container {
  width: 5rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.landing-enterprise-item-text {
  font-size: 1rem;
  color: #4a5568;
}

/* CTA section */
.landing-cta {
  background-color: #013745;
  color: white;
  text-align: center;
  padding: 40px 20px 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px -1px 8px;
}
.landing-container {
  max-width: 1200px;
  margin: 0 auto;
}
.landing-cta h2 {
  font-size: clamp(24px, 5vw, 32px);
  margin-bottom: 16px;
  color: white;
}
.landing-cta p {
  font-size: clamp(16px, 3vw, 18px);
  margin-bottom: 32px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.landing-cta-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.landing-btn-primary {
  background-color: #00c895;
  color: white;
  border: none;
}

/* Footer */
.landing-footer {
  background-color: #013745;
  padding: 2rem 1rem;
}
.landing-container {
  max-width: 1200px;
  margin: 0 auto;
}
.landing-footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.landing-footer-logo {
  margin-bottom: 16px;
  max-width: 5rem;
}
.landing-footer-description {
  color: white;
  font-size: 14px;
}
.landing-footer-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: white !important;
}
.landing-footer-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-position: inside;
  padding-left: 0 !important;
  color: white;
}
.landing-footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.landing-footer-links a:hover {
  color: rgb(207, 207, 207);
}
.landing-footer-links > * {
  color: white;
}
.landing-footer-links > * > * {
  color: white;
}

/* Media Queries */
@media (max-width: 1300px) {
  .landing-carousel {
    margin: 0;
  }
  .landing-reasons-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .landing-reasons-container {
    width: 75%;
  }
}
@media (max-width: 1250px) {
  .landing-enterprise-reasons-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media (max-width: 1024px) {
  .landing-reasons-container {
    width: 85%;
  }
  .landing-resource-item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .landing-resource-item-card.landing-popular {
    height: auto;
    margin-top: 0;
    grid-column: 1 / -1;
    order: -1;
  }
  .landing-resource-item-features {
    margin: auto;
  }
  .landing-footer-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .landing-footer-grid > div:first-child {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-bottom: 2rem;
    text-align: center;
    margin-right: 0 !important;
  }
  .landing-footer-grid > div:not(:first-child) {
    grid-row: 2;
  }
}
@media (max-width: 900px) {
  .landing-reason-card {
    width: 100%;
  }
  .landing-reason-card.long-card {
    grid-column: unset;
    grid-row: unset;
  }
}
@media (max-width: 768px) {
  .landing-getting-started-content {
    grid-template-columns: 1fr;
  }
  .landing-carousel-card .short-title {
    color: #666;
    line-height: 1.5;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5 !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .landing-carousel-card {
    width: 260px;
  }
  .landing-carousel-card-img {
    height: 160px;
  }
  .landing-btn {
    width: 90%;
  }
  .landing-resources {
    padding: 3rem 1rem 6rem;
  }
  .landing-resource-item {
    margin-bottom: 2rem;
  }
  .landing-resource-item-grid {
    grid-template-columns: 1fr;
  }
  .landing-resource-item-name {
    font-size: 18px;
  }
  .landing-resource-item-description {
    font-size: 14px;
  }
  .landing-feature-text {
    font-size: 14px;
  }
  .landing-enterprise-reasons-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .landing-cta-buttons {
    flex-direction: column;
    align-items: center;
  }
  .landing-footer-grid {
    grid-template-columns: 1fr;
  }
  .landing-footer-grid > div {
    text-align: center;
  }
  .landing-footer-grid > div:first-child {
    margin-right: 0 !important;
    grid-row: auto;
  }
  .landing-footer-grid > div:not(:first-child) {
    grid-row: auto;
  }
  .landing-footer-links {
    align-items: center;
  }
}
@media (max-width: 600px) {
  .landing-reasons-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 480px) {
  .landing-reasons-grid {
    gap: 12px;
  }
  .landing-reason-card {
    padding: 1.5rem;
  }
  .landing-reason-icon img {
    max-width: 3rem;
  }
  .landing-reason-content > ul > li,
  .landing-reason-card p {
    font-size: 14px;
  }
  .landing-carousel-card {
    width: 220px;
  }
  .landing-carousel-card-img {
    height: 140px;
  }
  .landing-footer-grid {
    grid-template-columns: 1fr;
  }
  .landing-btn {
    padding: 8px 12px;
    font-size: 12px;
  }
}
